body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 100vh;
}

h1 {
	font-size: 15rem;
	font-weight: 300;
	font-family: Roboto;
}

.letter {
	transition: color, 1000ms;
}


